<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script type="text/javascript"
         src="{{ url_for('static', filename='js/jssor.slider-28.0.0.min.js') }}"></script>
</head>
<body>
        <header>
                <a href="/">
                    <h2>Books Recommendation</h2>
                </a>
                  </header>
<div class="container">
<div class="row">
        <div class="col-md-3">
                <div class="thumbnail">
                  <a target="_blank">
                    <img src={{ selectedBook[0]['imageUrl'] }} alt="Lights" style="width:100%">
                    <div class="caption">
                      <p>{{ selectedBook[0]['name'] }}</p>
                    </div>
                  </a>
                </div>
     </div>
</div>
<div class="row">
  <h2>Recommended Books</h2>
  {% for item in result %}
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="../../r/{{item['ISBN'] }}">
        <img src={{ item['imageUrl'] }} alt="Lights" style="width:100%">
        <div class="caption">
          <p>{{ item['name'] }}</p>
        </div>
      </a>
    </div>
  </div>
  {% endfor %}
        </div>
  </div>

</body>
</html>


